# dependencies
node_modules/

# key
*.pem

# environment
.env
.test.env
*.env.local

# build
dist/
build/

# logs
logs/
*.log
npm-debug.log*

# coverage
coverage/

# cache
.cache/

# OS
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/

# temporary
tmp/
temp/